.dropdown_item {
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    gap: 5px;

    &:hover,
    &--active {
        background-color: var(--color-blue-50);
    }

    &__icon {
        display: inline-flex;
        align-items: center;
    }

    &__icon_end {
        margin-left: auto;
        display: inline-flex;
        align-items: center;
    }

    &__text {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}