.form {
    padding: 14px;

    &__elem {
        margin-bottom: 10px;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
    }
}