@use '@/style/mixins' as *;

.card {
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;

    &--completed {
        background-color: var(--color-gray-300);
    }

    &--dragging {
        opacity: 0.5;
    }

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-blue-400);
        opacity: 0;
    }

    &::after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-blue-400);
        opacity: 0;
    }

    &--over {

        &::before,
        &::after {
            opacity: 1;
        }
    }

    &--top {

        &::before,
        &::after {
            top: -5px;
            bottom: auto;
            transform: translateY(-50%);
        }
    }

    &--bottom {

        &::before,
        &::after {
            top: auto;
            bottom: -5px;
            transform: translateY(50%);
        }
    }

    &__drag {
        cursor: grab;
        margin-right: -5px;

        @include media(md, max) {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 100%;
    }

    &__info {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-grow: 1;
        max-width: calc(100% - 36px);
    }

    &__name {
        font-size: 16px;
        font-weight: 500;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    &__context {
        font-size: 14px;
        color: var(--color-gray-400);
        margin: 5px 0 0;
        word-break: break-all;
        padding: 0 10px;
    }
}