.checkbox {
    position: relative;
    cursor: pointer;

    &__input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;


        &:checked+[data-type="marker"] {
            background: var(--color-blue-400);

            [data-type="check"] {
                opacity: 1;
            }
        }
    }

    &__marker {
        width: 16px;
        height: 16px;
        border: 1px solid var(--color-gray-300);
        transition: 0.2s;
    }

    &__check {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        line-height: 0;
        transition: 0.2s;
    }
}